
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'liste/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'liste/css/style.css' %}">
	<script type="text/javascript" src ="{% static 'liste/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js' %}"></script>
    <title>Personnel</title>
    <body>
   <div class="row">

	<div class="col">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Info M4M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'accueil' %}">Accueil<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link mb-3" href="{% url 'liste' %}">Liste</a>
        <a class="nav-item nav-link" href="{% url 'formulaire' %}">Ajouter</a>
        <a class="nav-item nav-link" href="{% url 'modify' %}">Modifier</a>
        <a class="nav-item nav-link" href="{% url 'supprimer' %}">Supprimer</a>


    </div>
  </div>
            <form class="inline my-2 my-lg-0">
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        </form>
</nav>

	</div>

   </div>

   <br/>

 <div class="container">

   <div class="row">
       <div class="col">
           <img src="{% static "liste/image/48997428_2226424457616065_560517803635900416_o.jpg" %}" width= 700 height=500 alt="My image">
       </div>
   </div>
 <br/>
  <div class="row">
      <div class="col-4">
          <div class="jumbotron">
              <p>Nous vous propose un personnel competent ou des employes de qualite</br>
    Ici vous allez voir une liste des employes avec leur qualification et l'historique dans leur domaine
</p>
          </div>
      </div>
      <div class="col-4">
          <div class="jumbotron">
          <p>Nous avons des employe qualifier dans</p>
                {% for per in post %}

                <p>le domaine de <a href="{% url "detail" pk=per.pk %}">{{per.Profession}} </a></p>

                {% endfor %}
          </div>
      </div>
      <div class="col-4 bg-yellow">
          <address> Adress <br>
             Quartier :kibenga<br>
		     Avenue :samedi<br>
		     NUM :4<br>
		     Envoie nous un <a href="mailto:dorianniyongabo@gmail.com">mail</a>
           </address>
      </div>
  </div>

</div>









</body>
</html>