{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'liste/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <style>.ml-1{margin-left: ($spacer * .25)!important}</style>
    <title>Title</title>
</head>
<body>

<div class="row">
<div class="col">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Info M4M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'liste' %}">Liste<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'accueil' %}">Accueil</a>

    </div>
  </div>
            <form class="inline my-2 my-lg-0">
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        </form>
</nav>

</div>

</div>


<div class="container">
    <h1>Voici les noms du personnel</h1>

    <div class="jumbotron">
{% for per in Personne %}

<ul>


   <li?


    <li>
        <div class="row">
            <div class="col-3">
                <a href="{% url "detail" pk=per.pk  %}" >{{per.Nom}} {{per.Prenom}} </a>
            </div>

            <div class="col-9">
                <a class="btn btn-outline-primary" href="{% url "update" pk=per.pk %}">modifier</a>
                <a class="btn btn-outline-danger" href="{% url "delete" pk=per.pk %}">delete</a>
            </div>
        </div>

        <div class="ml-1">


        </div>
   </li>


</ul>
{% endfor %}
</div>
</div>


</body>
</html>