{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'liste/bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    <title>Title</title>
</head>
<body>

<div class="row">
<div class="col">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Info M4M</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'supprimer' %}">Supprimer<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{% url 'accueil' %}">Accueil</a>


    </div>
  </div>
            <form class="inline my-2 my-lg-0">
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        </form>
</nav>

</div>

</div>

<h1>supprimer l'employe {{Personne.Nom}} {{Personne.Prenom}}</h1>>



<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
     <input type="submit" value="Submit" />
</form>

</body>
</html>